export GTK_IM_MODULE=ibus
export QT_IM_MODULE=ibus
export XMODIFIERS="@im=ibus"

script=$HOME/.config/i3/script
xmodmap=$HOME/.config/i3/xmodmap
polybar_enable=0
temp_file=/tmp/autostart.log
dwmstatus=$HOME/.config/dwm/status/dwmstatus

# always mute microphone at startup
nohup amixer sset Capture nocap > $temp_file &
# compositor
picom --experimental-backend -b --config $HOME/.config/picom/picom.conf
# input method framework for pinin
ibus-daemon -drx
# you know
nohup qv2ray >> $temp_file &
# network managerment
nohup nm-applet >> $temp_file &
# power managerment
nohup xfce4-power-manager >> $temp_file &
# bluetooth managerment
nohup blueman-applet >> $temp_file &
# keycode custom
# setxkbmap -option caps:ctrl_modifier
nohup xmodmap $xmodmap/.Xmodmap >> $temp_file &
# Translation app
nohup crow >> $temp_file &
# clipboard managerment
nohup clipmenud >> $temp_file &
# mpd
nohup mpd >> $temp_file &
# udisks monitor
nohup udiskie --tray >> $temp_file &
# dwm status
nohup $dwmstatus >> $temp_file &
# autokey
nohup autokey-qt >> $temp_file &
# conky
nohup conky -c $HOME/.config/conky/conky.conf >> $temp_file &
# status bar
nohup $script/polybar-multscreen.sh $polybar_enable >> $temp_file &
