export GTK_IM_MODULE=ibus
export QT_IM_MODULE=ibus
export XMODIFIERS="@im=ibus"

script=$HOME/.config/i3/script
xmodmap=$HOME/.config/i3/xmodmap
polybar_enable=0
temp_file=/tmp/autostart.log
dwmstatus=$HOME/.config/dwm/status/dwmstatus

# always mute microphone at startup
nohup amixer sset Capture nocap > $temp_file &
# compositor
picom -b
# input method framework for pinin
ibus-daemon -drx
# you know, lol
nohup qv2ray >> $temp_file &
# network managerment
nohup nm-applet >> $temp_file &
# power managerment
nohup xfce4-power-manager >> $temp_file &
# bluetooth managerment
nohup blueman-applet >> $temp_file &
# keycode custom
nohup xmodmap $xmodmap/.Xmodmap-qwerty >> $temp_file &
# Translation app
nohup crow >> $temp_file &
# clipboard managerment
nohup clipmenud >> $temp_file &
# mpd
nohup mpd >> $temp_file &
# udisks monitor
nohup udiskie --tray >> $temp_file &
# dwm status
nohup $dwmstatus >> $temp_file &
# status bar
# nohup $script/polybar-multscreen.sh $polybar_enable >> $temp_file &
xrandr --output HDMI-1 --mode 1920x1080 --pos 0x0 --primary --output eDP-1 --mode 1920x1080 --pos 1920x0 --right-of HDMI-1
feh -q --bg-fill --no-fehbg ~/Pictures/background.jpg ~/Pictures/background2.jpg
