! Onedark Xresources palette
! *.foreground: #ABB2BF
! *.background: #1E2127
! *.color0:     #282C34
! *.color8:     #5C6370
! *.color1:     #E06C75
! *.color9:     #E05C75
! *.color2:     #98C379
! *.color10:    #78C379
! *.color3:     #E5C07B
! *.color11:    #E5b07B
! *.color4:     #61AFEF
! *.color12:    #61BFEF
! *.color5:     #C678DD
! *.color13:    #C688ED
! *.color6:     #56B6C2
! *.color14:    #56C6C2
! *.color7:     #ABB2BF
! *.color15:    #CCCCCC

! from https://github.com/rajshekhar26/dotfiles/blob/master/.config/colorschemes/faint_light
! special
! wall: #E1E1DD
! *.foreground:   #6f798c
! *.background:   #fcfcfc
! *.cursorColor:  #6f798c

! black
! *.color8:       #A7ACB3
! *.color0:       #fcfcfc

! red
! *.color9:       #B86974
! *.color1:       #B86974

! green
! *.color10:      #469E76
! *.color2:       #469E76

! yellow
! *.color11:      #C7A775
! *.color3:       #C7A775

! blue
! *.color12:      #5287AD
! *.color4:       #5287AD

! magenta
! *.color13:      #CC6D8B
! *.color5:       #CC6D8B

! cyan
! *.color14:      #3C97AD
! *.color6:       #3C97AD

! white
! *.color15:      #6f798c
! *.color7:       #A7ACB3

! from https://github.com/rajshekhar26/dotfiles/blob/master/.config/colorschemes/faint
! special
! wall: #2F3542
*.foreground:   #9faab8
*.background:   #232731
*.cursorColor:  #9faab8

! black
*.color0:       #232731
*.color8:       #6f798c

! red
*.color1:       #a65f69
*.color9:       #B86974

! green
*.color2:       #3b8563
*.color10:      #469E76

! yellow
*.color3:       #b39669
*.color11:      #C7A775

! blue
*.color4:       #487799
*.color12:      #5287AD

! magenta
*.color5:       #b9637e
*.color13:      #CC6D8B

! cyan
*.color6:       #348396
*.color14:      #3C97AD

! white
*.color7:       #6f798c
*.color15:      #9faab8

! from reddit - https://www.reddit.com/r/unixporn/comments/i2e8cx/bspwm_stairway_to_heaven/
! special
! *.foreground:   #f2f2f4
! *.background:   #2f3842
! *.cursorColor:  #f2f2f4

! black
! *.color0:       #2f3842
! *.color8:       #6A777E

! red
! *.color1:       #ec866f
! *.color9:       #ec866f

! green
! *.color2:       #96bb7f
! *.color10:      #96bb7f

! yellow
! *.color3:       #ECC46F
! *.color11:      #ECC46F

! blue
! *.color4:       #6f97ec
! *.color12:      #6f97ec

! magenta
! *.color5:       #ec816f
! *.color13:      #ec816f

! cyan
! *.color6:       #6fd5ec
! *.color14:      #6fd5ec

! white
! *.color7:       #6A777E
! *.color15:      #f2f2f4

! color from unixporn
! ref: https://www.reddit.com/r/unixporn/comments/hjzw5f/oc_qualitative_color_palette_for_ansi_terminal/
! *.foreground:   #C0C0C0
! *.background:   #101010
! black/dark-gray
! *.color0:       #101010
! *.color8:       #454545
! red/orange
! *.color1:       #EFA6A2
! *.color9:       #E0AF85
! green/aquamarine
! *.color2:       #80C990
! *.color10:      #5ACCAF
! amber/yellow
! *.color3:       #A69460
! *.color11:      #C8C874
! blue/violet
! *.color4:       #A3B8EF
! *.color12:      #CCACED
! magenta/rose
! *.color5:       #E6A3DC
! *.color13:      #F2A1C2
! cyan/azure
! *.color6:       #50CACD
! *.color14:      #74C3E4
! gray/white
! *.color7:       #808080
! *.color15:      #C0C0C0

! urxvt configuration
URxvt.colorUL: #4682B4
URxvt.scrollBar: false
URxvt.transparent: true
URxvt.shading: 160
URxvt.font: xft:DroidSansMono Nerd Font:size=16

URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true

URxvt.perl-ext-common: default,clipboard,url-select,resize-font
URxvt.keysym.C-c: perl:clipboard:copy
URxvt.keysym.C-v: perl:clipboard:paste
URxvt.keysym.C-j: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/google-chrome-stable
URxvt.url-select.underline: true
URxvt.keysym.C--: resize-font:smaller
URxvt.keysym.C-=: resize-font:bigger

URxvt.foreground:   #9faab8
URxvt.background:   #232731
URxvt.cursorColor:  #9faab8

! black
URxvt.color0:       #232731
URxvt.color8:       #6f798c

! red
URxvt.color1:       #a65f69
URxvt.color9:       #B86974

! green
URxvt.color2:       #3b8563
URxvt.color10:      #469E76

! yellow
URxvt.color3:       #b39669
URxvt.color11:      #C7A775

! blue
URxvt.color4:       #487799
URxvt.color12:      #5287AD

! magenta
URxvt.color5:       #b9637e
URxvt.color13:      #CC6D8B

! cyan
URxvt.color6:       #348396
URxvt.color14:      #3C97AD

! white
URxvt.color7:       #6f798c
URxvt.color15:      #9faab8
