! urxvt configuration
URxvt.colorUL: #4682B4
URxvt.scrollBar: false
URxvt.transparent: true
URxvt.shading: 160
URxvt.font: xft:DroidSansMono Nerd Font:size=16

URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true

URxvt.perl-ext-common: default,clipboard,url-select,resize-font
URxvt.keysym.C-c: perl:clipboard:copy
URxvt.keysym.C-v: perl:clipboard:paste
URxvt.keysym.C-j: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/google-chrome-stable
URxvt.url-select.underline: true
URxvt.keysym.C--: resize-font:smaller
URxvt.keysym.C-=: resize-font:bigger

URxvt.foreground:   #9faab8
URxvt.background:   #232731
URxvt.cursorColor:  #9faab8

! black
URxvt.color0:       #232731
URxvt.color8:       #6f798c

! red
URxvt.color1:       #a65f69
URxvt.color9:       #B86974

! green
URxvt.color2:       #3b8563
URxvt.color10:      #469E76

! yellow
URxvt.color3:       #b39669
URxvt.color11:      #C7A775

! blue
URxvt.color4:       #487799
URxvt.color12:      #5287AD

! magenta
URxvt.color5:       #b9637e
URxvt.color13:      #CC6D8B

! cyan
URxvt.color6:       #348396
URxvt.color14:      #3C97AD

! white
URxvt.color7:       #6f798c
URxvt.color15:      #9faab8

! gruvbox theme
! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2
